
# アロー関数の引数にカッコを必須
arrowParens: "avoid"
# オブジェクトを示すブラケット内にスペースを入れる
bracketSpacing: true
# 改行コード
endOfLine: "lf"
# 1行の桁数・'proseWrap' で無効にするが広めに
printWidth: 80
# 'printWidth' (1行の桁数) による折り返しをしない
proseWrap: "preserve"
# オブジェクトのプロパティをクォート表記にするか : 必要に応じて変えられるようにする
quoteProps: "as-needed"
# シングルクォートを強制
singleQuote: true
# セミコロンを行末付与設定
semi: false
# タブ幅
tabWidth: 2
# 複数行に渡る配列などの列挙の際、最終要素の後ろにカンマを付けない
trailingComma: "none"
# タブを使わない
useTabs: false
# 複数行の要素の > を最後の行に配置
jsxBracketSameLine: false
# vueの<script>,<style>内のインデントを1個入れる機能
vueIndentScriptAndStyle: false
